.container {
    width: 40%;
    padding: 2em;
    background-color: #60cac5;
    margin: 10px auto 10px auto;
    box-shadow: 5px 10px 8px #888888;
    border-style: solid;
    border-width: medium;
    border-color: rgb(100, 98, 98);


}

.form-control {
    max-width: 500px;
}

button {
    background-color: #5481d4;
    font-size: 20px;

}

button:hover {
    background-color: rgb(84, 84, 187);
}


#success {
    visibility: hidden;
}