<body>
<!--   <div class = "intro">
    <p>
      This will be the landing page for the site. When you log in you'll get
      here. And clicking on the top left icon will bring you back here
    </p>
    <p>
        This is avery rough draft! Will make this look nice, explain what the app does, etc.
    </p>

    </div>
 
    <div class = "more">
        <p>
            I'm kind of digging this solid box vibe, maybe make a few to explain different aspects. clean, succinct.
        </p>
    </div>  -->
    <div class = "title">
        <h2>Business Card App</h2>
    </div>

    <div class = "more">
        <p>
            Welcome to Bizzy! Have you ever found yourself at a networking event or meeting with
            potential clients but don't have any business cards on hand?
            Perhaps searching for a specific business card from a potential employer 
            to no avail? With Bizzy, add and store all your business connections in one place
            in an easy online collection.
            <br><br>
            You can add card information manually, 
            or for an even easier option you can take a picture of the physical card and the 
            information will be automatically read,
            extracted, and placed into your card collection. 
            Navigate to "My Cards" to view your collection of business cards.
            While there you can both update the individual fields of a card or delete 
            the card altogether.
            <br><br>
            Enjoy!
        </p>
    </div> 

    <div class = "footer">
        <p>
            Questions? Suggestions for improvement? Contact me by <a href="mailto:kmdale2@gmail.com">email</a>
            or find me on <a href="https://github.com/kdale2">GitHub</a>.
        </p>
    </div>
</body>
