.footer {
    background-color: #94b7f7;
}

.more {
    background-color: #60cac5;

}

.title {
    background-color: #94b7f7;
}

div {
    box-shadow: 5px 5px 5px #888888;
    border-style: solid;
    border-width: medium;
    border-color: rgb(100, 98, 98);
    text-align: center;    
    width: 50%;    
    margin: 10px auto 10px auto;
    font-size: 20px;
    border-style: solid;
    padding: 15px;

}