<body>
<!--   <div class = "intro">
    <p>
      This will be the landing page for the site. When you log in you'll get
      here. And clicking on the top left icon will bring you back here
    </p>
    <p>
        This is avery rough draft! Will make this look nice, explain what the app does, etc.
    </p>

    </div>
 
    <div class = "more">
        <p>
            I'm kind of digging this solid box vibe, maybe make a few to explain different aspects. clean, succinct.
        </p>
    </div>  -->

    <div class = "more">
        <p>
            Welcome to Bizzy! Keep all your business connections in one place.
            Add card information manually, or take a pic of the card using your
            cpu webcam. Navigate to your dashboard to view all your cards. There
            you can both update the fields of the cards, or delete a card.
            Have fun!
        </p>
    </div> 
</body>
