<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home"><img src= "https://www.shareicon.net/data/256x256/2015/09/21/643949_check-mark_512x512.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/login">Login/Logout <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/dashboard">My Cards<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/addcard">Add card manually<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/webcam">Use Webcam<span class="sr-only">(current)</span></a>
     
    </div>
  </div>
</nav>