.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

.header {
    margin-left: 3rem;

}
.cards {
    display: flex;
    flex-wrap: wrap;
 }

button {
    margin: 5px;
}


 
.card {
    flex: 1 0 500px;
    width: 25rem;
    height: 18rem;
    background-color: #94b7f7;
    box-sizing: border-box;
    border-style: solid;
    border-width: medium;
    border-color: rgb(100, 98, 98);
    margin: 1rem .25em .25em .25em;
    padding: 1.5em;
    box-shadow: 5px 7px 4px #888888;
    transition: 0.3s;

}  

.formFormat {
    font-size: 25px;
    width: 800px;
}

label {
    padding: 8px;
}

input {
    width: 500px;
}

.update {
    position: fixed;
    z-index: 100;
    left: 20%;
    top: 20%;
    border: solid black;
    background-color: #60cac5;
}