<!-- <app-login></app-login> -->
<router-outlet>
  <h1 class = 'nav'>Navigation Bar</h1>
  <nav class ='nav'>
    <span>
      <a routerLink = "/login" routerLinkActive = "active" class = "button">Login here</a>
    </span>
<!--<br><br>
    <span>
      <a routerLink = "/not-found" routerLinkActive = "active" class= "button">Page Not Found</a>
    </span> -->
    <br><br>
    <span>
      <a routerLink = "/dashboard" routerLinkActive = "active" class= "button">Dashboard</a>
      </span>
    <br><br><br>
  </nav>
  </router-outlet>