<!-- <app-login></app-login> -->
<router-outlet>
  <!-- perhaps move nav bar into its own compoenent/route after logging in -->
  <p>Test</p>

  <h1 class = 'nav'>Navigation Bar</h1>
  <nav class ='nav'>
  
    <span>
      <a routerLink = "/login" routerLinkActive = "active" class = "button">Login here</a>
    </span>
<!--     <br><br>
    <span>
    <a routerLink = "/not-found" routerLinkActive = "active" class= "button">Page Not Found</a>
    </span> -->
    <br><br>
    <span>
      <a routerLink = "/dashboard" routerLinkActive = "active" class= "button">View business cards</a>
      </span>
    <br>
  </nav>
  
  </router-outlet>


<!--   <div class="container">
      <div class="row">
          <app-business-card class="col s6"></app-business-card>
          <app-business-cards class="col s6"></app-business-cards>
      </div>
  </div> -->